.sidebar {
    /* position: fixed; */
    height: 100%; /* Set the height to 100% to fill the remaining space */
    overflow-y: auto; /* Add a scroll bar if the content overflows */
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #FFE4CC;
    padding: 10px;
    margin-right: 30px;
  }

  .rightbar {
    position: absolute;
    height: 100%; /* Set the height to 100% to fill the remaining space */
    overflow-y: auto; /* Add a scroll bar if the content overflows */
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: #FFE4CC;
    padding: 10px;
    margin-left: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .inline-item {
    display: inline-block;
    width: 60%;
  }
  .listrow {
    /* width: 300px; */
    /* padding: 50px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    display: inline-block;
    margin: 0 auto;
  }
  .clubpage-edit {
  }

  .announcement {
    display: flex;
    flex-direction: column;
    /* align-items: first baseline; */
    /* justify-content: first baseline; */
  }

  .announcemnt-title {
    text-align: center;
  }

  .announcement-text {
    text-align: center;
  }

  .announcement-edit {
    text-align: center;
  }

  .announcement-section {
    text-align: center;
  }

  .officer-section {
    text-align: center;
  }

  .officer-display {
    text-align: center;
  }

  .officer-add {

  }

  .delete-post-button {
  }

  .my-clubs-title {
  text-align: center;
  }

  .club-names-list {
    text-align: center;
  }

  .admin-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .admin-welcome-text {
    text-indent: 8em;
  }

  .admin-page {
    display: flex;
    height: 100vh;
  }

  .delete-posts {
    
    
  }

  .inner-delete-posts {
    text-align: center;

  }

  .post-name {
    text-align: center;
  }

  .just-form {
    background-color: #FFE4CC;
  }

  .left-sidebar {
  }

  .orange-button {
    background-color: #FF9230 !important;
    color: white !important;
    border-color: #FF9230 !important;
    font-weight: bold !important;
  }





  /* .announcement input,
  .announcement p{
    width: '100%';
    box-sizing: 'border-box';
    padding: '5px';
    background-color: #f88658;
  }
  .announcement p{
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  } */
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }


/* react bootstrap col names */
.admin-page-row {
  background-color: gray;
}

.left-sidebar-col {
  background-color: lightgreen;
  text-align: center;
  background-color: #FFE4CC;
}

/* .my-clubs-collection {

} */

@media (max-width: 992px) {
  .my-clubs-collection {
    height: 200px;
    overflow-y: auto;
  }
  .delete-posts-collection {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .admin-members-collection {
    height: 200px;
    overflow-y: auto;
  }
  .initial-welcome {
    height: 72%;

  }
}

@media (min-width: 992px) {
  .my-clubs-collection {
    height: 100vh;
    overflow-y: auto;
  }
  .delete-posts-collection {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .admin-members-collection {
    height: 350px;
    overflow-y: auto;
  }
}

.middle-form-col {
  background-color: #FFFCED;
}

.middle-delete-posts-row {
  background-color: #FFFCED;
  text-align: center;
}

.right-sidebar-col {
  background-color: #FFE4CC;
  text-align: center;
}

.right-sidebar-info {
  /* background-color: lightcyan; */
}

.right-sidebar-announce {
  /* background-color: lightyellow; */

}

.right-sidebar-admin {
  /* background-color: lightseagreen; */
}

.full-height {
  height: 100vh;
  background-color: #F7D7A1;
}

/* no club selected page */
.initial-clublist {
  background-color: #FFE4CC;
  text-align: center;
}

.initial-welcome {
  background-color: #FFFCED;
}

.orange-oval-text:hover {
  text-align: center;
  border-radius: 10px;
  background-color: #FFE4CC;
  outline: none;
  background-color: orange;
}

.navbar-color {
  background-color: #fff3ed !important;
}