.bubble {
    color: black;
    background-color: rgb(255 237 213 / var(--tw-bg-opacity));
    margin: auto auto;
    width: 32rem;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    box-shadow: 5px 5px 10px rgb(199, 199, 199);
    padding: 0.75rem;
}

.post {
    background-color: orange;
}

.postHeader {
    background-color: red;
    display:flex;
}

.postComments {
    background-color: aqua;
}

.postIcon {
    max-height: 150px;
    max-width: 100px;
}

.postIcon img{
    border-radius: 50%;
}