.posts {
    display: flex;
    row-gap: 100px;
    justify-content: center;
    position: relative;
    /* sorry, Chris. Did a quick fix here for Beta! */
    /* top:700px; right:0px; left:75px; bottom: 100px; */
}

.test-button {
    display: flex;
    justify-content: center;
}

.posts-info {
    justify-content: center;
    display: flex;
}
