.posts {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    overflow-y: auto;
    /* justify-content: center; */
}

.test-button {
    display: flex;
    justify-content: center;
}

.posts-info {
    justify-content: center;
    display: flex;
}
