.post-bubble {
    color: black;
    background-color: rgb(255 252 237);
    /* margin: auto auto; */
    /* width: 48rem; */
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    box-shadow: 5px 5px 10px rgb(199, 199, 199);
    padding: 0.75rem;
}

.post-caption-text {
    padding: 10px 0;
}

@media (min-width: 768px) {
    .post-caption-text {
        padding: 10px 0;
        font-size: 1.25rem;
    }
}

.postContent {
    overflow-y: auto;
    /* min-height: 4rem; */
    border-radius: 0.5rem;
    padding: 0px 20px;
}

.postMetric {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.postMetricBar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

/*Post Header*/
.postHeader {
    display:grid;
    grid-template-areas: 
        "content optionButton";
    grid-template-columns:  3fr 0.5fr; 
    /* min-height: 2rem; */
}

.headerIcon {
    grid-area: icon;
    max-height: 100px;
}

.headerContent {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.headerOption {
    grid-area: optionButton;
    display: flex;
    justify-content: end;
}

img {
    max-width:100%;
    max-height:100%;
}

.postTitle h2{
    font-weight: bold;
    /* font-size:x-large; */
}

.postTimelineInfo {
    display: flex;
    /* font-weight: bold; */
    /* font-size: small; */
    column-gap: 10px;
}

.your-icon{
    grid-area: your-icon;
    border-radius: 50%;
    overflow: hidden;
    height:60px;
    width: 60px;
    background-color: tomato;
}

.your-icon img{
    width: 100%;
}

.your-comment-text{
    grid-area: your-comment-text;
    padding: 10px;
    border-radius: 1rem;
    border-color: rgb(120, 104, 104);
    border-width: 0.1rem;
    width: 100%;
    background: transparent;
}

.post-image {
    border-radius: 0.5rem;
    /* max-width: 100%; */
}

.post-image-wrapper {
    max-width: 20vw;
}