.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(214, 186, 149);
}

.logo {
  margin-bottom: 10px;
  width: 500px;
  height: 500px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  width: 400px;
  margin-top: 20px;
}

.label {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}


.input-field {
  font-size: 16px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.submit-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #4cafff;
  color: white;
  text-shadow: black;
  border-radius: 5px;
  border-color: black;
  border: none;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  font-size: 18px;
}
