.sidebar-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-right {
    background-color: blue;
}

.content {
    overflow-y: auto;
    max-height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
}

/* Adapted from ChatGPT */
div::-webkit-scrollbar {
    width: 8px;
}

.page {
    /* width:100%; */
    min-height: 100vh;
    background-color: rgb(255, 248, 229);
}

.item {
    background-color: white;
}

.bubble{
    background-color: #FFE4CC;;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-search {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.search {
    height: 20rem;
}