.main-bubble {
  background-color: #ffe4cc;
  /* margin: 0 auto; */
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-bubble h1 {
  font-size: 2rem;
}

.main-bubble p {
  font-weight: bold;
}
