.main-bubble {
  background-color: #ffe4cc;
  /* margin: 0 auto; */
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-bubble h1 {
  font-size: 2rem;
}

.main-bubble p {
    font-weight: bold;
}

@media (max-width: 767px) {
    .main-bubble h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    .main-bubble p {
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .main-bubble h1 {
        font-size: 3rem;
        text-align: center;
    }
    
    .main-bubble p {
        font-weight: bold;
        font-size: 1.25rem;
        text-align: center;
    }
}
