.announce-bubble {
    color: black;
    background-color: #FFE4CC;
    margin: auto auto;
    /* width: 22rem; */
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    /* box-shadow: 5px 5px 10px rgb(199, 199, 199); */
    box-shadow: 5px 5px 10px rgb(199, 199, 199);
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}

.announceTitle {
    position: relative;
    text-align: center;
}

.announcementText {
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    /* bottom: 15px; */
}