

@media (max-width: 767px) {
    .commentText {
        color: black;
        /* font-weight: bold; */
        font-size: 0.9rem;
    }

    .commenter-text {
        font-size: 0.6rem;
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .commentText {
        color: black;
        /*   */
        font-size: 1.1rem;
    }

    .commenter-text {
        font-size: 0.9rem;
        font-weight: 600;
    }
}


.comment {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    border-color: rgb(228, 224, 210);
    border-width: 0.2rem;
    padding: 10px;
}

.comments {
    overflow-y: auto;
    max-height: 15rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.your-comment{
    display: grid;
    padding: 1rem;
    grid-template-areas: 
        "your-icon your-comment-text";
    grid-template-columns: 0fr 8fr; 
    align-items: center;
    column-gap: 10px;
}

.your-comment-text input::placeholder {
    white-space: normal;
    word-wrap: break-word;
}

@media (max-width: 768px){
    .your-comment-text {
        font-size: 0.65rem;
    }
}


