

@media (max-width: 767px) {
    .commentText {
        color: black;
        font-weight: bold;
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .commentText {
        color: black;
        font-weight: bold;
        font-size: 1.1rem;
    }
}


.comment {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    border-color: rgb(228, 224, 210);
    border-width: 0.2rem;
    padding: 10px;
}

.comments {
    overflow-y: auto;
    height: 20rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.your-comment{
    display: grid;
    padding: 20px;
    grid-template-areas: 
        "your-icon your-comment-text";
    grid-template-columns: 1fr 8fr; 
    align-items: center;
}

