.event-bubble {
    color: black;
    background-color: #FFE4CC;
    margin: auto auto;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    box-shadow: 5px 5px 10px rgb(199, 199, 199);
    width: 300px;
    height: 400px;
    padding: 0.75rem;
}
